.input {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: fit-content;
  padding-bottom: 1rem;
}

.my_posts {
  background-color: rgb(196, 229, 242);
  padding: 1rem;
  border-radius: 0.5rem;
}

.title {
  margin: 0;
}

.textarea {
  display: block;
  margin-bottom: 0.5rem;
  resize: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
  border: 2px solid #5D86CB;
}

.button {
  display: block;
  border: none;
  background-color: #5D86CB;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #ffffff;
  cursor: pointer;
  width: fit-content;
  text-transform: uppercase;
}
