.title {
  color: #eeeeee;
}

.list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding: 0;
}

.link {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #eeeeee;
}

.name{
 display: block;
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 100%;
}