.header {
  grid-area: main-header;
  background-color: #ABCDEF;
  border-radius: 0.5rem;
  border: 0.2rem solid #42AAFF;
  height: fit-content;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}

.login {
  margin-left: auto;
  text-decoration: none;
  color: #ffffff;
  background-color: #42AAFF;
  display: block;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.logged {
  margin-left: auto;
  color: #ffffff;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #42AAFF;
}
