.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "dialogs messages"
  ;
}

.dialogs_list {
  grid-area: dialogs;
  list-style-type: none;
  padding: 0;
}

.messages_list {
  grid-area: messages;
  list-style-type: none;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(150, 192, 211, 0.536);
}

.button {
  display: block;
}

.textarea {
  display: block;
  margin-bottom: 1rem;
}