.dialogs {
  display: grid;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "dialogs messages"
  ;
}

.dialogs_list {
  grid-area: dialogs;
  list-style-type: none;
  padding: 0;
}

.messages_list {
  grid-area: messages;
  list-style-type: none;
  padding: 1rem;
  border-radius: 1rem;
  background-color: rgba(150, 192, 211, 0.536);
}

.button {
  display: block;
  border: none;
  background-color:#5D86CB;
  border: 2px solid #ffffff;
  border-radius: 1rem;
  padding: 0.5rem;
  color: #ffffff;
  cursor: pointer;
  text-transform: uppercase;
}

.textarea {
  display: block;
  margin-bottom: 1rem;
  border: none;
  resize: none;
  border-radius: 0.5rem;
  padding: 0.5rem;
}